/node_modules
/public/storage
/public/js/app.js
/public/js/vueapp.js
/public/js/manifest.js
/public/js/vendor.js
/public/uploads/*
/public/reports/output/*
/storage/*.key
/vendor
/docker/nginx/log/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
fukugo_port/
