// main: _main.scss

// ==========================================================================
// Screen Breakpoints
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
$media-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	sl: 1440px,
	hl: 1920px
) !default;
// --------------------------------------------------------------------------

// ==========================================================================
