$form-control-duration: .15s;
$form-control-easing: $easeOutExpo;

.form-control {
    @include transition( 
        border-color $form-control-duration $form-control-easing, 
        box-shadow $form-control-duration $form-control-easing,
        background-color $form-control-duration $form-control-easing
    );
}

.input-group {
    & > .form-control {
        position: relative;
        z-index: 20;
    }

    .input-group-append,
    .input-group-prepend {
        .input-group-text-sm {
            font-size: .8125rem;
            font-weight: normal;
            padding-left: .625rem;
            padding-right: .625rem;

            @include breakpoint-up( md ){
                padding-left: .375rem;
                padding-right: .375rem;
            }
        }
    }
}


.was-validated .form-control:invalid, 
.form-control.is-invalid {
    padding: 0.375rem 0.75rem;
    background-image: none;
}


$disabled-background: #e9ecef;
$disabled-border: darken( $disabled-background, 12% );
$disabled-group: darken( $disabled-background, 3% );


.input-integer {
    $background: #d9ead3;
    $border: darken( $background, 15% );
    $group: darken( $background, 4% );

    &.input-group > .form-control,
    &.form-control {
        border-color: $border;
        background-color: $background;

        @include disabled {
            border-color: $disabled-border;
            background-color: $disabled-background;
        }
    }
    &.input-group {
        .input-group-text {
            border-color: $border;   
            background-color: $group;
        }
        .btn-input-group {
            border-color: $border;   
            background-color: $background;

            @include not-disabled {
                @include hover {
                    background-color: lighten( $background, 2% );
                }
            }

            &.btn-dimmed {
                @include disabled {
                    color: lighten( #52585e, 5% );
                    border-color: lighten( $disabled-border, 1% );
                    background-color: lighten( $disabled-background, 1% );
                }

                @include not-disabled {
                    color: #52585e; border-color: $border;
                    background-color: lighten( $background, 3% );

                    @include hover-focus {
                        background-color: lighten( $background, 6% );
                    }
                }
            }
        }
    }
}

.input-decimal {
    $background: lighten( #a4c2f4, 8% );
    $border: darken( $background, 12% );
    $group: darken( $background, 3% );

    &.input-group > .form-control,
    &.form-control {
        border-color: $border;
        background-color: $background;

        @include disabled {
            border-color: $disabled-border;
            background-color: $disabled-background;
        }
    }
    &.input-group {
        .input-group-text {
            border-color: $border;   
            background-color: $group;
        }
        .btn-input-group {
            border-color: $border;   
            background-color: $background;

            @include not-disabled {
                @include hover {
                    background-color: lighten( $background, 2% );
                }
            }

            &.btn-dimmed {
                @include disabled {
                    color: lighten( #52585e, 5% );
                    border-color: lighten( $disabled-border, 1% );
                    background-color: lighten( $disabled-background, 1% );
                }
    
                @include not-disabled {
                    color: #52585e;
                    border-color: $border;
                    background-color: lighten( $background, 2.5% );
                    
                    @include hover-focus {
                        background-color: lighten( $background, 6% );
                    }
                }
            }
        }
    }
}

.input-money {
    $background: lighten( #CFE2F3, 2% );
    $border: darken( $background, 12% );
    $group: darken( $background, 3% );

    &.input-group > .form-control,
    &.form-control {
        border-color: $border;
        background-color: $background;

        @include disabled {
            border-color: $disabled-border;
            background-color: $disabled-background;
        }
    }
    &.input-group {
        .input-group-text {
            border-color: $border;   
            background-color: $group;
        }
        .btn-input-group {
            border-color: $border;   
            background-color: $background;

            @include not-disabled {
                @include hover {
                    background-color: lighten( $background, 2% );
                }
            }

            &.btn-dimmed {
                @include disabled {
                    color: lighten( #52585e, 5% );
                    border-color: lighten( $disabled-border, 1% );
                    background-color: lighten( $disabled-background, 1% );
                }
    
                @include not-disabled {
                    color: #52585e;
                    border-color: $border;
                    background-color: lighten( $background, 3% );

                    @include hover-focus {
                        background-color: lighten( $background, 6% );
                    }
                }
            }
        }
    }
}

.input-date {
    $background: lighten( #f4cccc, 4% );
    $border: darken( $background, 12% );
    $group: darken( $background, 3% );

    &.input-group > .form-control,
    &.form-control {
        border-color: $border;
        background-color: $background;
        
        &.form-control-reset[readonly]{
            border-color: $border;
            background-color: $background;
        }

        @include disabled {
            border-color: $disabled-border;
            background-color: $disabled-background;
        }
    }
    &.input-group {
        .input-group-text {
            border-color: $border;   
            background-color: $group;
        }
        .btn-input-group {
            border-color: $border;   
            background-color: $background;

            @include not-disabled {
                @include hover {
                    background-color: lighten( $background, 2% );
                }
            }

            &.btn-dimmed {
                @include disabled {
                    color: lighten( #52585e, 5% );
                    border-color: lighten( $disabled-border, 1% );
                    background-color: lighten( $disabled-background, 1% );
                }
    
                @include not-disabled {
                    color: #52585e;
                    border-color: $border;
                    background-color: lighten( $background, 3% );

                    @include hover-focus {
                        background-color: lighten( $background, 6% );
                    }
                }
            }
        }
    }
}

.input-static {
    $background: $disabled-background;
    $border: $disabled-border;
    $group: $disabled-group;

    &.input-group > .form-control,
    &.form-control {
        border-color: $border;
        background-color: $background;
    }
    &.input-group {
        .input-group-text {
            border-color: $border;   
            background-color: $group;
        }
        .btn-input-group {
            border-color: $border;   
            background-color: $background;

            @include not-disabled {
                @include hover {
                    background-color: lighten( $background, 2% );
                }
            }

            &.btn-dimmed {
                &:disabled {
                    color: lighten( #52585e, 5% );
                    border-color: lighten( $disabled-border, 1% );
                    background-color: lighten( $disabled-background, 1% );
                }
    
                @include not-disabled {
                    color: #52585e;
                    border-color: $border;
                    background-color: lighten( $background, 3% );

                    @include hover-focus {
                        background-color: lighten( $background, 6% );
                    }
                }
            }
        }
    }
}

.input-suggest {
    $background: lighten( #d9d2e9, 3% );
    $border: darken( $background, 12% );
    $group: darken( $background, 3% );

    &.input-group > .form-control,
    &.form-control {
        border-color: $border;
        background-color: $background;

        @include disabled {
            border-color: $disabled-border;
            background-color: $disabled-background;
        }
    }
    &.input-group {
        .input-group-text {
            border-color: $border;   
            background-color: $group;
        }
        .btn-input-group {
            border-color: $border;   
            background-color: $background;

            @include not-disabled {
                @include hover {
                    background-color: lighten( $background, 2% );
                }
            }

            &.btn-dimmed {
                @include disabled {
                    color: lighten( #52585e, 5% );
                    border-color: lighten( $disabled-border, 1% );
                    background-color: lighten( $disabled-background, 1% );
                }
    
                @include not-disabled {
                    color: #52585e;
                    border-color: $border;
                    background-color: lighten( $background, 2% );
                    
                    @include hover-focus {
                        background-color: lighten( $background, 6% );
                    }
                }
            }
        }
    }
}