span[class*=sticon-] {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}

.sticon-water_supply {
    background-image: url('/css/sticon/water_supply_0.svg');
}

.sticon-water_supply.s1 {
    background-image: url('/css/sticon/water_supply_1.svg');
}

.sticon-water_supply.s9 {
    background-image: url('/css/sticon/water_supply_9.svg');
}

.sticon-district_planning {
    background-image: url('/css/sticon/district_planning_0.svg');
}

.sticon-district_planning.s1 {
    background-image: url('/css/sticon/district_planning_1.svg');
}

.sticon-district_planning.s9 {
    background-image: url('/css/sticon/district_planning_9.svg');
}

.sticon-haniwa {
    background-image: url('/css/sticon/haniwa_0.svg');
}

.sticon-haniwa.s1 {
    background-image: url('/css/sticon/haniwa_1.svg');
}

.sticon-haniwa.s9 {
    background-image: url('/css/sticon/haniwa_9.svg');
}

.sticon-road {
    background-image: url('/css/sticon/road_0.svg');
}

.sticon-road.s1 {
    background-image: url('/css/sticon/road_1.svg');
}

.sticon-road.s9 {
    background-image: url('/css/sticon/road_9.svg');
}

.sticon-wind {
    background-image: url('/css/sticon/wind_0.svg');
}

.sticon-wind.s1 {
    background-image: url('/css/sticon/wind_1.svg');
}

.sticon-wind.s9 {
    background-image: url('/css/sticon/wind_9.svg');
}

.sticon-dih {
    background-image: url('/css/sticon/dih_0.svg');
}

.sticon-dih.s1 {
    background-image: url('/css/sticon/dih_1.svg');
}

.sticon-dih.s9 {
    background-image: url('/css/sticon/dih_9.svg');
}

.sticon-landslide {
    background-image: url('/css/sticon/landslide_0.svg');
}

.sticon-landslide.s1 {
    background-image: url('/css/sticon/landslide_1.svg');
}

.sticon-landslide.s9 {
    background-image: url('/css/sticon/landslide_9.svg');
}

.sticon-residential_land_development {
    background-image: url('/css/sticon/residential_land_development_0.svg');
}

.sticon-residential_land_development.s1 {
    background-image: url('/css/sticon/residential_land_development_1.svg');
}

.sticon-residential_land_development.s9 {
    background-image: url('/css/sticon/residential_land_development_9.svg');
}

.sticon-poison {
    background-image: url('/css/sticon/poison_0.svg');
}

.sticon-poison.s1 {
    background-image: url('/css/sticon/poison_1.svg');
}

.sticon-poison.s9 {
    background-image: url('/css/sticon/poison_9.svg');
}

.sticon-house1 {
    background-image: url('/css/sticon/house1.svg');
}

.sticon-house2 {
    background-image: url('/css/sticon/house2.svg');
}
