
.icon-cultural:before { content: '\e800'; } /* '' */
.icon-demolition:before { content: '\e801'; } /* '' */
.icon-elevation:before { content: '\e802'; } /* '' */
.icon-landscape:before { content: '\e803'; } /* '' */
.icon-landslide:before { content: '\e804'; } /* '' */
.icon-law:before { content: '\e805'; } /* '' */
.icon-road:before { content: '\e806'; } /* '' */
.icon-water:before { content: '\e807'; } /* '' */
.icon-blueprint:before { content: '\e808'; } /* '' */
.icon-contamination:before { content: '\e809'; } /* '' */